h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  color: #fff;
  font-size: 22px;
}

h4 {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}
h5 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #1d1c1c;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 1px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 480px) {#main {margin-left: 0}}
/* Add mask of image with words or design across another image */

body 
{background: linear-gradient(90deg, #9e0064 0%, #000000 54%);

  background-image: url(/img/icons/18+.png);
  background-position: right bottom ;
  background-repeat: no-repeat;
  background-size: 5em auto;
  background-attachment: fixed;
  z-index: 1;
  position:relative
}

  
* {
    box-sizing: border-box;
  }

  html,body { margin:0; padding: 0; }
#main_block {
  display: block; /* Useless, divs are display:block */
  width: 100%;    /* Useless, display:block elements are width:100% by default */
  height: 100%;   /* Fairly useless now, should take children's height */
  font-size:0;    /* Force space between inline-block elements to be 0 */
}
#left_frame {
  width: 140px;
}
#right_frame {
  width: calc(100% - 140px);
}
#left_frame,#right_frame {
  display: inline-block;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  
}
.b_footer {
  padding: 10px;
  height: 50px;
  background-color: rgb(82, 2, 42);
  text-align: center;
  color: rgb(212, 212, 212);
  font-weight: bold;
  box-sizing: border-box;
}
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  .seximage {
    position: relative;
    text-align: center;
    color: white;

  }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(59, 9, 47);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #363636;
    margin: auto;
    padding: 0;
    width: 75%;
    max-width: 750px;
  }
  .dropdownmenu {
    margin-left:auto;
    margin-right:auto;
}
ul {
    margin:0px;
    padding:0px;
}
ul li {
    background-color:black;
    border:1px solid white;
    width:200px;
    height:30px;
    line-height:30px;
    float:left;
    text-align:center;
    list-style:none;
}
ul li a {
    color:white;
    text-decoration:none;
    display:block;
}
ul li a:hover {
    background-color:red;
}
ul li ul li {
    display:none;
}
ul li:hover ul li {
    display:block;
}

  
  /* The Close Button */
  .close {
    color: rgb(214, 20, 165)55, 255, 255;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #cf1190;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor:pointer;
    position:fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(211, 7, 211)55, 255, 255;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(7, 7, 7, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 15px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    opacity: 1;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(63, 62, 62, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .lightboxcontainer {
    width:100%;
    text-align:center;
  }
  .lightboxleft {
    width: 40%;
    float:left;
  }
  .lightboxright {
    width: 60%;
    float:left;
  }
  .lightboxright iframe {
    min-height: 390px;
  }
  
  .divtext {
    margin: 36px;
  }
  @media (max-width: 500px) {
    .lightboxleft {
      width: 100%;
    }
    .lightboxright {
      width: 100%;
    }
    .divtext {
      margin: 12px;
    }
  
  }